// OTHER COLORS
$app-white: #fbfbfb;
$app-brown: #523d3c;
$app-green: #3dbb3d;
$app-dark: #333333;
$app-purple: #851fda;
$app-yellow: #ffc90e;
$white: #ffffff;

// BRAND PRIMARY
$brand-primary: #fa6909;

// BRAND SECONDARY
$brand-secondary: #b8b7b8;
$brand-secondary-100: #f0f4f7;
$brand-secondary-200: #e6e6e3;

// BRAND INFO
$brand-info: #02049c;
$brand-info-100: #085bfd;

// TEXT COLORS
$text-color: #030303;
$text-white: $white;

// BRAND TONIC
$brand-tonic: #e50914;
$brand-tonic-100: #ff6060;
$brand-tonic-200: #ffcaca;
