@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  white-space: normal;
  transition: background transform border-radius box-shadow font-size 0.3s
    ease-in-out;
  font-family: "Public Sans", sans-serif;
}

.font {
  &-public {
    font-family: "Public Sans", sans-serif;
  }

  &-abz {
    font-family: "ABeeZee", sans-serif;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  color: $text-color;
  background: $app-white;
  scroll-behavior: smooth;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

button {
  background: transparent;
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer !important;
  transition: all 0.4s ease-in-out;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none;

  li {
    margin: 0;
  }
}

a {
  text-decoration: none !important;
}

input {
  border: none;
  outline: none;

  &:hover {
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $brand-secondary;
    font-size: toRem(15);
    letter-spacing: toRem(0.01);
  }
}
