$size: 200;

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.fixed {
  position: fixed !important;
}

.sticky {
  position: sticky !important;
}

@for $n from 0 through $size {
  .top-#{$n} {
    top: toRem($n);
  }

  .bottom-#{$n} {
    bottom: toRem($n);
  }

  .left-#{$n} {
    left: toRem($n);
  }

  .right-#{$n} {
    right: toRem($n);
  }
}
