.form {
  &-control {
    width: 100%;
    height: toRem(56);
    padding: toRem(15) toRem(24);
    border-radius: toRem(12);
    font-size: toRem(15);
    background: $brand-secondary-100;
    @include subpixel-antialiased();
    transition: background 0.3s ease-in-out;

    &:hover,
    &:focus {
      background: darken($color: $brand-secondary-100, $amount: 3%);
    }
  }
}
